*, *::before, *::after {
    box-sizing: border-box;
}

/* background color of the site */

body{
    background-color: #DDD;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

/* card layouts */
.card {
    --width: 5em;
    --height: calc(var(--width)*1.4);
    width: var(--width);
    height: var(--height);
    background-color: white; 
    border: 1px solid black;
    border-radius: .25em;
    padding: 1em;
    display: grid;
    /* parameters: how many rows/columns, size */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    position: relative;
    transform: rotate(180deg);
}

[data-suit="heart"].card, 
[data-suit="diamond"].card {
    color: #c8102e;
}

[data-suit="spade"].card, 
[data-suit="club"].card {
    color: black;
}

.pip{
    grid-row-end: span 2;
    width: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* pips */
[data-suit = "heart"] .pip {
    background-image: url("imgs/heart.svg");
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px; */
}

[data-suit = "diamond"] .pip {
    background-image: url("imgs/diamond.svg");
}

[data-suit = "spade"] .pip {
    background-image: url("imgs/spade.svg");
}

[data-suit = "club"] .pip {
    background-image: url("imgs/club.svg");
}


.corner-number {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    letter-spacing: -.1em;
}

.corner-number.top {
    top: 0.25em;
    left: 0.25em;
    align-items: center;
}

.corner-number.bottom {
    bottom: 0.25em;
    right: 0.25em;
    transform: rotate(180deg);
    align-items: center;
}

.corner-number::after{
    line-height: 0;
    display: block;
    width: 0.5em;
    align-items: center;
}


[data-suit="heart"] .corner-number::after {
    content: url("imgs/heart.svg");
    width: .5em;
}

[data-suit="diamond"] .corner-number::after {
    content: url("imgs/diamond.svg");
    width: .5em;
}

[data-suit="club"] .corner-number::after {
    content: url("imgs/club.svg");
    width: .5em;
}

[data-suit="spade"] .corner-number::after {
    content: url("imgs/spade.svg");
    width: .5em;
}




/* for customizing how much we want the values to be arranged */

/* FACE */
[data-value="A"] .pip {
    grid-row-start: 2;
    grid-column-start: 1;
    transform: rotate(180deg);
    grid-row-end: span 6;
    grid-column-end: span 3;
}

.card[data-value="J"][data-suit="heart"] .pip {
    background-image: url("imgs/JH.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;
    aspect-ratio: 0.05/1;
    transform: scaleX(-1);
}

.card[data-value="J"][data-suit="diamond"] .pip {
    background-image: url("imgs/JD.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
    transform: scaleX(-1);
}

.card[data-value="J"][data-suit="club"] .pip {
    background-image: url("imgs/JC.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
    transform: scaleX(-1);
}

.card[data-value="J"][data-suit="spade"] .pip {
    background-image: url("imgs/JS.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
}

.card[data-value="Q"][data-suit="heart"] .pip {
    background-image: url("imgs/QH.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
}

.card[data-value="K"][data-suit="heart"] .pip {
    background-image: url("imgs/KH.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
}

.card[data-value="Q"][data-suit="diamond"] .pip {
    background-image: url("imgs/QD.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
    transform: scaleX(-1);
}

.card[data-value="K"][data-suit="diamond"] .pip {
    background-image: url("imgs/KD.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
}

.card[data-value="Q"][data-suit="spade"] .pip {
    background-image: url("imgs/QS.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
    transform: scaleX(-1);
}

.card[data-value="K"][data-suit="spade"] .pip {
    background-image: url("imgs/KS.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
}

.card[data-value="Q"][data-suit="club"] .pip {
    background-image: url("imgs/QC.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
    transform: scaleX(-1);
}

.card[data-value="K"][data-suit="club"] .pip {
    background-image: url("imgs/KC.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 9;
    grid-column-end: span 3;

    aspect-ratio: 0.05/1;
}





/* 2 */
[data-value="2"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 2;
}

[data-value="2"] .pip:nth-child(2){
    grid-row-start: 7;
    grid-column-start: 2;
    transform: rotate(180deg);
} 

/* 3 */
[data-value="3"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 2;
}

[data-value="3"] .pip:nth-child(2){
    grid-row-start: 4;
    grid-column-start: 2;
    transform: rotate(180deg);

} 

[data-value="3"] .pip:nth-child(3){
    grid-row-start: 7;
    grid-column-start: 2;
    transform: rotate(180deg);
} 

/* 4 */
[data-value="4"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}

[data-value="4"] .pip:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 3;
} 

[data-value="4"] .pip:nth-child(3){
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
} 
[data-value="4"] .pip:nth-child(4){
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

/* 5 */
[data-value="5"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}

[data-value="5"] .pip:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 3;
} 

[data-value="5"] .pip:nth-child(3){
    grid-row-start: 4;
    grid-column-start: 2;
    transform: rotate(180deg);
} 

[data-value="5"] .pip:nth-child(4){
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
} 
[data-value="5"] .pip:nth-child(5){
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

/* 6 */
[data-value="6"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}

[data-value="6"] .pip:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 3;
} 

[data-value="6"] .pip:nth-child(3){
    grid-row-start: 4;
    grid-column-start: 1;
    transform: rotate(180deg);
} 

[data-value="6"] .pip:nth-child(4){
    grid-row-start: 4;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

[data-value="6"] .pip:nth-child(5){
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
} 

[data-value="6"] .pip:nth-child(6){
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

/* 7 */
[data-value="7"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}

[data-value="7"] .pip:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 3;
} 

[data-value="7"] .pip:nth-child(3){
    grid-row-start: 4;
    grid-column-start: 1;
    transform: rotate(180deg);
} 

[data-value="7"] .pip:nth-child(4){
    grid-row-start: 4;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

[data-value="7"] .pip:nth-child(5){
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
} 

[data-value="7"] .pip:nth-child(6){
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

[data-value="7"] .pip:nth-child(7){
    grid-row-start: 6;
    grid-column-start: 2;
    transform: rotate(180deg);
}

/* 8 */
[data-value="8"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}

[data-value="8"] .pip:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 3;
} 

[data-value="8"] .pip:nth-child(3){
    grid-row-start: 4;
    grid-column-start: 1;
    transform: rotate(180deg);
} 

[data-value="8"] .pip:nth-child(4){
    grid-row-start: 4;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

[data-value="8"] .pip:nth-child(5){
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
} 

[data-value="8"] .pip:nth-child(6){
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

[data-value="8"] .pip:nth-child(7){
    grid-row-start: 5;
    grid-column-start: 2;
    transform: rotate(180deg);
}

[data-value="8"] .pip:nth-child(8){
    grid-row-start: 2;
    grid-column-start: 2;
}

/* 9 */
[data-value="9"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}

[data-value="9"] .pip:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 3;
} 

[data-value="9"] .pip:nth-child(3){
    grid-row-start: 3;
    grid-column-start: 1;
} 

[data-value="9"] .pip:nth-child(4){
    grid-row-start: 3;
    grid-column-start: 3;
} 

[data-value="9"] .pip:nth-child(5){
    grid-row-start: 5;
    grid-column-start: 1;
    transform: rotate(180deg);
} 

[data-value="9"] .pip:nth-child(6){
    grid-row-start: 5;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

[data-value="9"] .pip:nth-child(7){
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(8){
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(9){
    grid-row-start: 4;
    grid-column-start: 2;
    transform: rotate(180deg);
}

/* 10 */
[data-value="10"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}

[data-value="10"] .pip:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 3;
} 

[data-value="10"] .pip:nth-child(3){
    grid-row-start: 3;
    grid-column-start: 1;
} 

[data-value="10"] .pip:nth-child(4){
    grid-row-start: 3;
    grid-column-start: 3;
} 

[data-value="10"] .pip:nth-child(5){
    grid-row-start: 5;
    grid-column-start: 1;
    transform: rotate(180deg);
} 

[data-value="10"] .pip:nth-child(6){
    grid-row-start: 5;
    grid-column-start: 3;
    transform: rotate(180deg);
} 

[data-value="10"] .pip:nth-child(7){
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(8){
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(9){
    grid-row-start: 2;
    grid-column-start: 2;
}

[data-value="10"] .pip:nth-child(10){
    grid-row-start: 6;
    grid-column-start: 2;
    transform: rotate(180deg);
}






